<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>viewCollegeServlet</servlet-name>
        <servlet-class>com.endicott.edu.models.ui.ViewCollegeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewCollegeServlet</servlet-name>
        <url-pattern>/viewCollege</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>welcomeServlet</servlet-name>
        <servlet-class>com.endicott.edu.models.ui.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewDormServlet</servlet-name>
        <servlet-class>com.endicott.edu.models.ui.ViewDormServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewDormServlet</servlet-name>
        <url-pattern>/viewDorm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewStudentServlet</servlet-name>
        <servlet-class>com.endicott.edu.models.ui.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewStudentServlet</servlet-name>
        <url-pattern>/viewStudent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>viewFacultyServlet</servlet-name>
        <servlet-class>com.endicott.edu.models.ui.ViewStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>viewFacultyServlet</servlet-name>
        <url-pattern>/viewFaculty</url-pattern>
    </servlet-mapping>
</web-app>